# This file uses the version 2 docker-compose file format, described here:
# https://docs.docker.com/compose/compose-file/#version-2
#
# This runs the zipkin and zipkin-mysql containers, using docker-compose's
# default networking to wire the containers together.
#
# Note that this file is meant for learning Zipkin, not production deployments.

storage:
  image: openzipkin/zipkin-mysql
  container_name: mysql
  # Uncomment to expose the storage port for testing
  # ports:
  #   - 3306:3306

# The zipkin process services the UI, and also exposes a POST endpoint that
# instrumentation can send trace data to. Scribe is disabled by default.
zipkin:
  image: openzipkin/zipkin
  container_name: zipkin
  # Environment settings are defined here https://github.com/openzipkin/zipkin/tree/1.19.0/zipkin-server#environment-variables
  environment:
    - STORAGE_TYPE=mysql
    # Point the zipkin at the storage backend
    - MYSQL_HOST=mysql
    # Uncomment to enable scribe
    # - SCRIBE_ENABLED=true
    # Uncomment to enable self-tracing
    # - SELF_TRACING_ENABLED=true
    # Uncomment to enable debug logging
    # - JAVA_OPTS=-Dlogging.level.zipkin=DEBUG
  ports:
    # Port used for the Zipkin UI and HTTP Api
    - 9411:9411
    # Uncomment if you set SCRIBE_ENABLED=true
    # - 9410:9410

rabbitmq:
  image: rabbitmq:management
  ports:
    - 9672:5672
    - 15672

