logging:
  pattern:
    console: '%clr([trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-}]){yellow} %5p'
    file: '%clr([trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-}]){yellow} %5p'

logging.file: build/eureka.log

server.port: ${PORT:8761}

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
