spring.application.name: presenting

logging:
  level.org.springframework.cloud: DEBUG
  level.org.springframework.cloud.sleuth: TRACE
  level.org.springframework.cloud.sleuth.log: DEBUG
  level.org.springframework.cloud.sleuth.trace: DEBUG
  level.org.springframework.cloud.sleuth.instrument.rxjava: DEBUG
  level.com.wavefront.spring: DEBUG

server.port: ${PORT:9991}

spring.rabbitmq.host: ${RABBIT_HOST:localhost}
spring.sleuth.web.skipPattern: /api-docs.*|/autoconfig|/health|/configprops|/dump|/info|/metrics.*|/mappings|/trace|/swagger.*|.*\.png|.*\.css|.*\.js|.*\.html|/favicon.ico|/hystrix.stream|/feed/process/.*

logging.file: build/presenting.log

endpoints.health.sensitive: false
endpoints.default.web.enabled: true
management.security.enabled: false
management.endpoints.web.base-path: /

spring.zipkin.sender.type: web
spring:
  sleuth:
    reactor:
      enabled: false
    baggage:
      correlation-fields:
        - TEST-COMMUNICATION-TYPE
      remote-fields:
        - TEST-COMMUNICATION-TYPE

spring.cloud.stream.source: events
spring.cloud.stream.bindings.events-out-0.destination: events

spring.cloud.config.label: main